---
import TableOfContentsList from "./TableOfContents/TableOfContentsList.astro";

const { toc } = Astro.locals.starlightRoute;
---

{
  toc && (
    <starlight-toc
      data-min-h={toc.minHeadingLevel}
      data-max-h={toc.maxHeadingLevel}
    >
      <nav aria-labelledby="starlight__on-this-page">
        <h2
          id="starlight__on-this-page"
          class="flex items-center gap-[12px]"
          style="font-size: 14px;"
        >
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-align-left-icon lucide-align-left"
            >
              <path d="M15 12H3" />
              <path d="M17 18H3" />
              <path d="M21 6H3" />
            </svg>
          </span>
          <span>{Astro.locals.t("tableOfContents.onThisPage")}</span>
        </h2>
        <TableOfContentsList toc={toc.items} />
      </nav>
    </starlight-toc>
  )
}

<script src="./TableOfContents/starlight-toc"></script>
