@import "tailwindcss";
@plugin '@tailwindcss/typography';

:root {
  --text-primary: rgb(0, 0, 0);
  --text-secondary: rgba(0, 0, 0, 0.6);
  --text-tertiary: rgba(0, 0, 0, 0.3);
  --text-brand: #0876dd;
  --button-primary-bg: rgb(24, 24, 24);
  --button-primary-bg-hover: rgb(40, 40, 40);
  --button-primary-border-hover: rgb(20, 20, 20);
  --button-primary-border: rgb(20, 20, 20);
  --button-primary-text: rgb(255, 255, 255);
  --button-secondary-bg: rgba(255, 255, 255, 0.1);
  --button-secondary-bg-hover: rgba(0, 0, 0, 0.04);
  --button-secondary-border-hover: rgba(0, 0, 0, 0.15);
  --button-secondary-border: rgba(0, 0, 0, 0.15);
  --button-secondary-text: rgba(0, 0, 0, 0.8);

  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
