---
import Layout from "@/src/layouts/Layout.astro";
---

<Layout title="Page Not Found">
  <div class="text-center p-[40px]">
    <h1 class="text-4xl font-bold text-gray-900 mb-4">
      Page Not Found
    </h1>
    <p class="text-lg text-gray-600">
      We could not find what you were looking for.
    </p>
  </div>
</Layout>
