---
import Layout from '@/layouts/Layout.astro';
---
<Layout title="Welcome to ScopeDB">
  <div class="h-full">
    <h1 class="text-4xl text-center my-8">ScopeDB Documents</h1>
    <p class="text-center">
      Streamline your data management with ScopeDB's comprehensive documentation.
    </p>
  </div>
</Layout>
<script>
const lis = document.querySelectorAll('.toc-li');
lis.forEach(li => {
  li.addEventListener(
    'click',
    e => {
      const liDom = e.currentTarget as HTMLElement;
      const id = liDom.id;
      const dom = document.querySelector(`#${id}`);
      dom?.scrollIntoView({behavior: 'smooth', block: 'center'});
    },
    true
  );
});
</script>
