<div class="grid grid-cols-8 gap-x-[32px] relative">
  <div class={`col-span-8 ${Astro.locals.starlightRoute.toc ? 'lg:col-span-6' : ''}`}><slot /></div>
  {
    Astro.locals.starlightRoute.toc && (
      <aside class="right-sidebar-container print:hidden col-span-2">
        <div class="right-sidebar">
          <slot name="right-sidebar" />
        </div>
      </aside>
    )
  }
</div>

<style>
  .main-pane {
    isolation: isolate;
  }

  @media (min-width: 72rem) {
    .right-sidebar-container {
      position: relative;
      width: calc(
        var(--sl-sidebar-width) +
          (100% - var(--sl-content-width) - var(--sl-sidebar-width)) / 2
      );
    }

    .right-sidebar {
      position: fixed;
      top: 0;
      padding-top: var(--sl-nav-height);
      width: 100%;
      height: 100vh;
      overflow-y: auto;
      scrollbar-width: none;
    }

    .main-pane {
      width: 100%;
    }

    :global([data-has-sidebar][data-has-toc]) .main-pane {
      --sl-content-margin-inline: auto 0;

      order: 1;
      width: calc(
        var(--sl-content-width) +
          (100% - var(--sl-content-width) - var(--sl-sidebar-width)) / 2
      );
    }
  }
</style>
