---
interface Category {
  label: string;
  link: string;
  isCurrent: boolean;
}

const categories: Category[] = [
  {
    label: "Guides",
    link: "/guides/",
    isCurrent: false,
  },
  {
    label: "Developer",
    link: "/developer/",
    isCurrent: false,
  },
  {
    label: "Reference",
    link: "/reference/",
    isCurrent: true,
  },
];
---

<ul
  class="flex gap-[32px] text-[14px] leading-[30px] pt-[12px] font-[500] text-secondary text-center"
>
  {
    categories.map((c) => (
      <li>
        <a
          href={c.link}
          class:list={{ "font-[600] text-primary": c.isCurrent }}
        >
          <div>{c.label}</div>
        </a>
      </li>
    ))
  }
</ul>

<style>
  li {
    overflow-wrap: anywhere;
  }
</style>
