---
interface Category {
  label: string;
  link: string;
  isCurrent: boolean;
}

const categories: Category[] = [
  {
    label: "Guides",
    link: "/guides/",
  },
  {
    label: "Developer",
    link: "/developer/",
  },
  {
    label: "Reference",
    link: "/reference/",
  },
].map((c) => ({
  ...c,
  isCurrent: Astro.url.pathname.includes(c.link),
}));
---

<ul
  class="flex gap-[32px] text-[14px] leading-[30px] pt-[12px] text-[var(--text-secondary)] text-center"
>
  {
    categories.map((c) => (
      <li>
        <a
          href={c.link}
          class:list={{ " font-medium text-[var(--text-primary)]": c.isCurrent }}
        >
          <div>{c.label}</div>
        </a>
      </li>
    ))
  }
</ul>

<style>
  li {
    overflow-wrap: anywhere;
  }
</style>
