---
import "@docsearch/css";
---

<div id="docsearch"></div>

<script>
  document.addEventListener("DOMContentLoaded", async () => {
    const { default: docsearch } = await import("@docsearch/js");
    docsearch({
      container: "#docsearch",
      appId: "WHHXVN2FB9",
      apiKey: "6f62b98f75d6f26b5a1c34ee341f62c5",
      indexName: "scopedb",
      placeholder: "Search docs...",
      // Optional configurations
      searchParameters: {
        // Add any search parameters
      },
      transformItems: (items) => {
        // Transform items if needed
        return items;
      },
    });
  });
</script>
