---
import type {MarkdownHeading} from "astro";
import TreeTocNode from "./TreeTocNode.astro";
import {buildTocTree} from "../lib/buildTocTree";
interface Props{
    toc:MarkdownHeading[];
}
const {toc} = Astro.props;


const treeToc = buildTocTree(toc);

console.log('Toc',toc);
---


<div class="sticky top-48">
    <div>On this page</div>
    <ul class="flex flex-col gap-2 border-l dark:border-[color-mix(in_oklab,_var(--color-gray-950),white_20%)] border-[color-mix(in_oklab,_var(--color-gray-950),white_90%)]">
      {treeToc.map((item) => (
        <TreeTocNode node={item} />
      ))}
    </ul>
  </div>