---
import '@/styles/markdown.css';

import Layout from '@/layouts/Layout.astro';
import {resolvePageTitle, getSidebar, getSidebarGroups} from '@/utils';
import Document from '../doc/Document.astro';
import {sidebar as sidebarConfig} from '@/config';
import {getEntry, render} from 'astro:content';

const sidebar = getSidebarGroups(getSidebar(sidebarConfig, '/reference'));
const firstItem = sidebar[0].items?.[0];
let firstItemName = firstItem?.link?.split('/').at(-1) ?? '';
const entry = await getEntry('reference', firstItemName);

if (!entry) {
  throw new Error('Could not find doc');
}
const {Content, headings} = await render(entry);
const title = resolvePageTitle(entry.data.title, headings);
---

<Layout title={title}>
  <Document headings={headings} sidebar={sidebar}>
    <div class="pb-2"><Content /></div>
  </Document>
</Layout>
