---

---

<div class="min-h-[293px]" style="background-color: hsla(0, 0%, 97%, 1);">
  <div class="pt-[60px] px-[40px] xl:px-[180px] flex">
    <div class="flex-1">
        <!-- TODO: replace with logo image -->
      <div>ScopeDB</div>
      <div>© 2025 ScopeDB. All rights reserved.</div>
    </div>

    <div
      class="flex gap-[32px] text-[14px] font-[400] text-[#00000099] leading-[14px]"
    >
      <div>
        <div class="text-[16px] font-[500] pb-[24px] text-[#000000]">
          Get Started
        </div>
        <div class="pb-[16px]">
          <a href="https://www.scopedb.io/contact/">Book a demo</a>
        </div>
        <div class="pb-[16px]">
          <a href="https://scopedb.io">Visit ScopeDB</a>
        </div>
      </div>
      <div>
        <div class="text-[16px] font-[500] pb-[24px] text-[#000000]">
          Product
        </div>
        <div class="pb-[16px]">
          <a href="/docs">Documentation</a>
        </div>
        <div class="pb-[16px]">
          <a href="/changelog">Changelog</a>
        </div>
        <div class="pb-[16px]">
          <a href="/pricing">Pricing</a>
        </div>
      </div>
      <div>
        <div class="text-[16px] font-[500] pb-[24px] text-[#000000]">
          Company
        </div>
        <div class="pb-[16px]">
          <a href="/about">About</a>
        </div>
        <div class="pb-[16px]">
          <a href="/blog">Blog</a>
        </div>
        <div class="pb-[16px]">
          <a href="/terms">Terms of Service</a>
        </div>
        <div class="pb-[16px]">
          <a href="/privacy">Privacy Policy</a>
        </div>
      </div>
      <div>
        <div class="text-[16px] font-[500] pb-[24px] text-[#000000]">
          Connect
        </div>
        <div class="pb-[16px]">
          <a href="/contact">Contact us</a>
        </div>
        <div class="pb-[16px]">
          <a href="https://github.com/scopedb">Github</a>
        </div>
        <div class="pb-[16px]">
          <a href="">Discord</a>
        </div>
      </div>
    </div>
  </div>
</div>
