---
import "@/src/styles/global.css";
import Footer from "@/src/components/Footer.astro";
import Header from "@/src/components/Header.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <Header />
    </header>
    <main>
      <slot />
    </main>

    <div class="z-[10]">
      <Footer />
    </div>
  </body>
</html>

<style>
  body {
    font-family: sans-serif;
    width: 100%;
    overflow-x: hidden;
    box-sizing: content-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
</style>
