---
import type {
    NavItemsProps,
    NavItemProps,
} from '../../interface';
import NavItem from './NavItem.astro';
interface Props {
    navItems: NavItemsProps;
}
const {navItems} = Astro.props;
const currentPath = Astro.url.pathname;
---

<nav class="flex flex-row gap-2">
    {
        navItems.map((item: NavItemProps) => (
            <NavItem {...item} isActive={currentPath === item.link}/>
        ))
    }
</nav>

